
#order {
    background-color: red;
    padding: 5px;
    text-align: center;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: red;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
    background-color: transparent;
    font-weight: bold;
  }
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  #title {
      font-size: 16px;
  }